body {
  margin: 0;
  padding: 0;
  background: linear-gradient(to bottom right, #5e4b8b, #0b0b0b); /* violeta escuro com fundo */
  font-family: 'Segoe UI', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  text-align: center;
}

.botao-presente {
  padding: 20px 40px;
  font-size: 20px;
  background-color: #d0fbe4; /* verde menta suave */
  color: #6e44aa; /* violeta médio */
  border: 3px solid #6e44aa;
  border-radius: 30px;
  cursor: pointer;
  transition: 0.3s;
  box-shadow: 0 0 15px rgba(110, 68, 170, 0.4); /* leve brilho violeta */
}

.botao-presente:hover {
  background-color: #c2f9dc; /* verde menta um pouco mais claro */
  transform: scale(1.05);
  box-shadow: 0 0 20px rgba(110, 68, 170, 0.6);
}
